/* Custom styles for Form.io */
.formio-form {
    font-family: Arial, sans-serif;
}

.formio-builder .form-builder-panel {
    background-color: #f1f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}
